body.dark{
    background:#111827;
    color:#f3f4f6;
}

body.dark .header,
body.dark .creator-card,
body.dark .stat,
body.dark .task-card,
body.dark .modal,
body.dark .filter,
body.dark .input,
body.dark .select{
    background:#1f2937;
    color:white;
    border-color:#374151;
}

body.dark .footer{
    border-color:#374151;
}

body.dark .subtitle,
body.dark .task-counter,
body.dark .empty,
body.dark .footer,
body.dark .stat p{
    color:#cbd5e1;
}

body.dark .btn-secondary{
    background:#374151;
    color:white;
}

body.dark .icon-btn,
body.dark .hamburger{
    background:#374151;
    color:white;
}